<html>
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="css/profile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="profile">
            <div class="sectiona">
                <% if(fileContents===''){%>
                    <form action="/profile" method="POST" enctype="multipart/form-data" id="target">
                        <img src="img/download.jfif">
                        <label class="file-upload">
                            <input type="file" id="myFile" name="myfile" onchange="javascript:this.form.submit();">
                            <i class="fa fa-upload" aria-hidden="true"></i> Image
                        </label>
                    </form>
                <% } else { %>
                    <img src="data:image/jpg;base64,<%=fileContents%>">
                    <form action="/profile" method="POST" enctype="multipart/form-data" id="target">
                        <label class="file-upload">
                            <input type="file" id="myFile" name="myfile" onchange="javascript:this.form.submit();">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </label>
                    </form>
                    <form action="/profile?_method=DELETE" method="POST" enctype="multipart/form-data" class="deleteimg">
                        <button name="_method" id="deletebutton"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                <% } %>
                <p><%=user.name%></p>
            </div>
            <div class="sectionb">
                <div class="bheader">
                    <p>Information</p>
                    <a href="/dashboard">Back</a>
                </div>
                <div class="bemail">
                    <p style="font-weight: 700; font-size: 20px;">Email<p>
                    <p class="displaye"><%=user.email%></p>
                </div>
                <div class="beinfo">
                    <p style="font-weight: 700; font-size: 20px;" class="lists">Lists<p>
                    <p class="total"><%=count%></p>
                    <p style="font-weight: 700; font-size: 20px;" class="tasks">Tasks<p>
                    <p class="totaltasks"><%=taskst%></p>
                </div>
            </div>
        </div>
    </body>
</html>